<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SpaceMonitor" type="App.CleanupApp.Configuration.SpaceMonitorConfigurationSection, App.CleanupApp" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <SpaceMonitor>
    <Drivers>
      <Driver Letter="D" LimitSpaceToSendNotificationInPercentual="80">
        <Folders LimitSpaceToCleanupInPercentual="95">
          <Folder Path="Logs"></Folder>
          <Folder Path="Source"></Folder>
          <Folder Path="Backups"></Folder>
        </Folders>
      </Driver>
      <Driver Letter="C" LimitSpaceToSendNotificationInPercentual="70">
        <Folders LimitSpaceToCleanupInPercentual="95">
          <Folder Path="Logs"></Folder>
          <Folder Path="Source"></Folder>
          <Folder Path="Backups"></Folder>
        </Folders>
      </Driver>      
    </Drivers>
  </SpaceMonitor>
  
</configuration>